{% extends "layouts/master.twig" %}

{% block content %}
    <h1>Welcome to cypress introduction</h1>
    <p id="logged"></p>
{% endblock %}

{% block scripts %}<script>let email = "{{email}}";</script>{% endblock %}