{% extends 'layouts/master.twig' %}

{% block content %}
<h1>Sign in</h1>
<form action='/login_attempt' method="POST">
    <input type="email" name="email" id="email_input" placeholder="Email"/>
    <input type="password" name="password" id="password_input" placeholder="Password"/>
    <a href="#">Need an account ?</a>
    <button type="submit">Connexion</button>
</form>
{% endblock %}