nav {
    display: flex;
    justify-content: flex-end;
    a {
        text-decoration: none;
        color: black;
        background-color: red;
        font-size: 40px;
        margin: 10px;
    }
    p {
        font-size: 40px;
        margin: 10px;
    }
}

.container {
    padding: 0 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}